body{
    text-align: center;
    background-color: rgb(142, 216, 250);
}

p.texto::first-line{
    color:red;
}

span.S{
    font-size: 50px;
}
span.titulo{
    color: blue;
}
p.h4:hover{
    background-color: yellow;
    color:red;
}

div.enlaces{
    text-align: left;
}

a.Link:link{
    background-color: white;
    color: blue;
}

a.Link:visited{
    background-color: blue;
    color: white;
}

h3.contador{
    counter-reset: cuenta-productos;
}
p.productos::before{
    content: counter(cuenta-productos)".";
    counter-increment: cuenta-productos;
}