body{
    text-align: center;
    background-color: rgb(166, 212, 233);
}

p.texto::first-line{
    color:red;
}

span.S{
    font-size: 50px;
}
span.titulo{
    color: blue;
}
a.subrallar:hover{
    background-color: yellow;
    color:red;
}

div.enlaces{
    text-align: left;
}

a.Link:link{
    background-color: white;
    color: blue;
}

a.Link:visited{
    background-color: blue;
    color: white;
}

h3.contador{
    counter-reset: cuenta-productos;
}
p.productos::before{
    content: counter(cuenta-productos)".";
    counter-increment: cuenta-productos;
}

img{
    position: absolute;
    margin-left: 400px;
    margin-top: -100px;
}

p.izquierda{
    text-align: left;
}